  <h1>Log in</h1>
    <%= form_for(:session, html: { class: "form-horizontal" }, url: login_path) do |f| %>

        <div class="form-group">
          <%= f.label :email, class: 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.email_field :email, class: 'form-control', :placeholder => "email@example.com" %>   
          </div>
        </div>


      <div class="form-group">
        <%= f.label :password, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.password_field :password, class: 'form-control', :placeholder => "my password"  %>    
        </div>
      </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <label>
                <%= f.check_box :remember_me, class: "checkbox"%> Remember me
              </label>
            </div>
          </div>
        </div>
       
        <%= f.submit "Sign In", class: "btn btn-primary col-xs-12" %>
    <% end %>

    <p class="pull-left">New user? <%= link_to "Sign up now!", signup_path %></p>
    <p class="pull-right">Forgot Password? <%= link_to "Reset Password", new_password_reset_path %></p>