<% provide(:title, 'Sign up') %>

<div class="container col-sm-6 col-sm-offset-3 well">

    <h2>Sign Up</h2>

    <%= form_for(@user, html: { class: "form-horizontal" }) do |f| %>
      
      <%= render 'shared/error_messages' %>
      
      <%= render 'form', f: f %>

      <%= f.submit "Create my account", class: "btn btn-primary col-sm-10 col-sm-offset-2 col-xs-12" %> <br /> <br />


      <p class="pull-right"> Already signed up? <%= link_to "Log In", login_path %></p>

    <% end %>

</div> <!-- /container -->