<div class="container well col-sm-8 col-sm-offset-2 ">
<% provide(:title, @user.username) %>
<h1>
  <%= gravatar_for @user %>
  <%= @user.username %> <small><%= @user.email %></small>
  <%= image_tag @user.avatar_url %> <hr />

	<div class="row">
		<%= render 'posts' %>
	</div>



</h1>
</div>