<div class="row posts-wrapper">
	<div class="post">

		<div class="post-head">
			<p class="name">
				<%=  gravatar_for post.user, size: 25 %>
				<%= link_to post.user.username, post.user %> 	
				<span class="time-ago pull-right"><%= time_ago_in_words post.created_at %></span>
			</p> 
		</div>

		<div class="post-bottom">
			<% if (params[:action] == 'index') %>
				<%= link_to (image_tag post.image.url(:medium), :class => "img-responsive center-block"), post_path(post) %>
			<% else %>
				<%= link_to (image_tag post.image.url(:medium), :class => "img-responsive center-block"), post.image.url, :target => "_blank" %>
			<% end %>

			<div class="caption">
			<% if post.caption.length > 1 %>
				<div class="caption-content">
					<span class="user-name"><%= link_to post.user.username, post.user %></span>
					<%= post.caption %> <br />
				</div>
			<% end %>
				<div id="comments_#{post.id}">
					<% if post.comments %>
						<%= render post.comments, post: post %>
					<% end %>
				</div>

				<div class="row comment-like-form" >
					<div class="input-group">
	  					<a href="#" class="input-group-addon"><i class="fa fa-heart-o"></i></a>
	  					<%= form_for([post, post.comments.build], remote: true) do |f| %>
	  						<%= f.text_field :content, placeholder: 'Add a comment...', :class => "form-control", id: 'comment_content_#{post.id}' %>
	  					<% end %>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>