<div class="container well col-sm-8 col-sm-offset-2">	
	<div class ="form-wrapper">
		<%= simple_form_for(@post, html: { class: 'form-horizontal', multipart:true }) do |f| %>

		<div class="form-group">
		  <%= image_tag @post.image.url(:medium), :class => "img-responsive center-block" %>
		</div>

		<div class="form-group">
		  <%= f.input :caption, placeholder: 'something about this photo' %>
		</div>

		<div class="form-group text-center">
		  <%= f.button :submit, "Update", :class => 'btn-success' %>
		</div>
		<div class="form-group text-center">
			<%= link_to "Delete Post", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete this post?" }, :class => 'btn btn-danger' %>
			<%= link_to "Back", post_path(@post), :class => 'btn btn-primary' %>
		</div>
		<% end %>
	</div>

</div>


